{% load static %}


<div class="footer">
    <div class="row footer bg-light">
        <div class="col">
            <p><img class="rounded-circle" src="{% static 'images/marmitaria.png' '%}"
                    width="40" height="40" class="d-inline-block" alt=""> Marmitaria da Casa</p>
        </div>
        <div class="col">
            <p>Copyright &copy; 2021</p>
        </div>
        <div class="col">
            <p>Powered by: <a href="#">Kelver Alves</a></p>
        </div>
    </div>
</div>