{% extends 'base.html' %}
{% load static %}

{% block title %}Entrar na Marmitaria da Casa {% endblock %}

{% block content %}
<div class="row">
    <div class="col navMenu">
        <h2 class="text-center"><img class="rounded-circle" src="{% static 'images/marmitaria.png' '%}" width="50" height="50" class="d-inline-block" alt=""> ~ Login ~</h2>
    </div>
</div>
<div>
    <div class="col-md-4 offset-md-4 bg-light">
        <div>
            <form>
                <div>
                    <div>
                        <br>
                        <label>&#128100; Usuario</label>
                        <input type="text" class="form-control">
                        <br>

                        <label>&#128273; Senha </label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div>
                    <br>
                    <div class="">
                        <button type="submit" class="btn btn-secondary btn-block">Entrar</button>
                    </div>
                </div>
                <br>
                <p class="text-center">Não tem conta? <a href="">Crie uma aqui!</a> </p>
                <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}