{% extends 'base.html' %}
{% load static %}


{% block content %}
<html>

<nav class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
    <a class="navbar-brand" href="#Welcome">
        <img class="rounded-circle" src="{% static 'images/marmitaria.png' '%}" width="50" height="50"
            class="d-inline-block" alt=""> Marmitaria da Casa
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/logout">Sair</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="Welcome">
        <div class="container text-center">
            <div class="col navMenu">
                <h2 class="text-center">~ Seu(s) Pedido(s) {{ user }} ~</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" id="Reservation">
        </div>
        <div class="row">
            <div class=" col-lg-12 reserve-container">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <table width="100%" border="1">
                                {% for pedido in pedidos %}
                                {% if pedido %}
                                <hr>
                                <tr>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Proteínas</th>
                                    <th class="text-center">Acompanhamentos</th>
                                    <th class="text-center">Saladas</th>
                                    <th class="text-center">Quantidade</th>
                                    <th class="text-center">Telefone</th>
                                    <th class="text-center">Endereço</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Observações</th>
                                    <th class="text-center">Data</th>
                                    <th class="text-center">Excluir Pedido</th>
                                    <th class="text-center">Modificar Pedido</th>
                                </tr>
                                <tr>
                                    <td class="text-center">{{ pedido.nome }}</td>
                                    <td class="text-center">{{ pedido.proteinas }}</td>
                                    <td class="text-center">{{ pedido.acompanhamentos }}</td>
                                    <td class="text-center">{{ pedido.saladas }}</td>
                                    <td class="text-center">{{ pedido.quantidade_refeicao }}</td>
                                    <td class="text-center">{{ pedido.telefone }}</td>
                                    <td class="text-center">{{ pedido.endereco }}</td>
                                    <td class="text-center">{{ pedido.valor_refeicao }}0</td>
                                    <td class="text-center">{{ pedido.observacao }}</td>
                                    <td class="text-center">{{ pedido.data }}</td>
                                    <td class="text-center"><a href="#">Excluir</a></td>
                                    <td class="texte-center"><a href="#">Modificar</a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                <tr>
                                    <td colspan="11"></td>
                                </tr>
                                <tr>
                                    <th class="text-center" colspan="11"></th>
                                    <th class="text-center">Total</th>
                                </tr>
                                <tr>
                                    {% for pedido in pedidos %}
                                <tr>
                                    <th colspan="11">{{ pedido.nome }} ----------></th>
                                    <td>R${{ pedido.soma }}</td>
                                </tr>
                                {% endfor %}
                                </tr>
                                <tr>
                                    <td colspan="11"></td>
                                </tr>
                            </table>
                            <div class="row">
                                <div>
                                    <a href="/" style="text-decoration: none;">
                                        <br>
                                        <button  class="btn btn-secondary btn-block">Voltar</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer">
        </div>

    </div>
</body>

</html>
{% endblock %}
